
.header{
    display: flex;
    max-width: 100%;
    height: 100vh;
    justify-content: space-around;
    background-image: url(../../public/home-1.jpg)
}

.logo{
    width: 171px;
    cursor: pointer;
}

.contenedor_menu{
    display: flex;
    max-width: 983px;
}

.contenedor_menu__elementos{
    display: flex;
    justify-content: space-between;
    height: 171px;
    list-style: none;
    text-align: center;
    font-family: Montserrat;
    align-items: center;

}

.menu__elemento{
    margin:10px;
}

.menu__elemento:hover {
    text-decoration: underline 0.15em #868686;
    cursor: pointer;
}
